
.tableBoton {
  border: solid;
  border-width: 3px;
  border-color: #064a9d;
  border-radius: 8px;
  width: 100px;
  height: 90px;
}

.ButtonText {
  font-family:Arial;
  font-size:14px;
  font-weight: bold;
  color: #064a9d;
}

.trImagen {
  height: 50px;
}


