
#cabecera {
  background-color: #064a9d;
  font-family: calibri;
  width: 100%;
  border-collapse: collapse;
  padding: 0; 
  margin: 0;
}

#titulo {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px; 
  color:  #ffffff;

}

#version {
  text-align: left;
  padding-left: 5px;
  width: 30%;
  font-size: 10px;
    color:  #ffffff;
}

#dropdownSituacion {
  font-size: 14px;
  font-family: calibri;
}

#fecha {
  text-align: right;
  padding-right: 5px;
  width: 30%;
  font-size: 10px;
  vertical-align: bottom;
  margin-right: 2px;
    color:  #ffffff;
}

.myLabel {
  font-size: 16px;
  font-family: calibri;
}

.myButton {
  font-size: 16px;
  font-family: calibri;
}

.hitCounter {
  font-size: 16px;
  font-weight: bold;
  font-family: calibri;
}

.myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding:  2px;
  width: 90px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-top: 5px;
  font-family: calibri;
}

.dropdownSituacion {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding:  2px;
  width: 90px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-top: 5px;
  font-family: calibri;
}

.myInputCodi {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding:  2px;
  width: 45px;
  height: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-top: 5px;
  font-family: calibri;
}


#tableResta, #tablePerjudicat, #tableAutor {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}


#tableResta th, #tablePerjudicat th, #tableAutor th {
  background-color: #f1f1f1;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font: calibri;
  font-size: 17px;
  font-weight: bold;
}


#tableResta td, #tablePerjudicat td, #tableAutor td {
  font: calibri;
  font-size: 17px;
  
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#tableResta tr, #tablePerjudicat tr, #tableAutor tr {
  border-bottom: 1px solid #ddd;
}

#tableResta tr.header, #tableResta tr:hover, #tablePerjudicat tr.header, #tablePerjudicat tr:hover , #tableAutor tr.header, #tableAutor tr:hover {
  background-color: #f9f9f9;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlayTable {
  background-color:  white;
  border-collapse: collapse;
  width: 95%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  
}


#overlayTable td {
  text-align: left;
  vertical-align: top;
  padding: 8px;
}

#divExtraInfo {
  margin-bottom: 20px;
  align-content: center;
}

.tableExtraInfo {
  margin: auto;
  width: 95%;
  border: 1px solid red;
  border-radius: 10px;
}

#labelExtra {
    font-family: calibri;
    margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#labelMesInfo {
  line-height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-family: calibri;
}

#divTaules {
  margin-bottom: 20px;
}

#divTaulaResta, #divTaulaPerjudicat {
  margin-top: 20px;
}